<h1>
    Đăng nhập
</h1>
<form action="">
    <div class="mb-3">
        <label for="" class="form-label">Username:</label>
        <input type="text" class="form-control" placeholder="Nhập Username" ng-model="user.username" required>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Password:</label>
        <input type="text" class="form-control" placeholder="Nhập password" ng-model="user.password" required>
    </div>
    <button class="btn btn-success" ng-click="dangNhap()">Đăng nhập</button>
    <p>{{thongBao}}</p>
    </div>
</form>